<h1>Welcome, <%= @github_user.name %></h1>
<h3><%= @github_user.login %></h3>
<%= image_tag "#{@github_user.avatar_url}" %>

<h3>Your followers: <% @github_user.followers(current_user.oauth_token).each do |follower|  %></h3>
                      <%= follower.login %>
                      <% end %>
<h3>You are following:<% @github_user.following(current_user.oauth_token).each do |followed| %></h3>
                      <%= followed.login  %>
                      <% end  %>
<h3>You have <%= @github_user.starred_url %> starred repos</h3>
<h2><%= link_to "Logout", logout_path, method: :delete %></h2>
<h2><%= link_to "Home page", root_path %></h2>
