<nav>
  <div class="container">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><input type="text" name="term" id="robot" placeholder="Search Github" value="" class="ui-autocomplete-input" autocomplete="off"></li>
        <li><a href="sass.html">Pull requests</a></li>
        <li><a href="badges.html">Issues</a></li>
        <li><a href="collapsible.html">Gist</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
</div>

<div class="container">
  <div class="row">

   <div class="col m3 s12">
     <img class="materialboxed" width="250" src="<%=@github_user.avatar_url%>">
     <h5> <%= @github_user.name %></h5>
     <h5><%= @github_user.login %></h5>
     <h6>Organizations <%= @github_user.organizations(current_user.oauth_token).count %></h6>
     <h6><%= link_to "Logout", logout_path, method: :delete %></h6>
     <h6><%= link_to "Home page", root_path %></h6>
   </div>

    <div class="col m9 s12">

      <div class="col m2 12"><h6><strong>Overview</div>
      <div class="col m3 12">
        <details close>
          <summary>Repositories <%= @github_user.repos(current_user.oauth_token).count %></summary>
            <% @github_user.repos(current_user.oauth_token).each do |repo| %>
            <a href="https://github.com/<%=@github_user.login%>/<%=repo.name%>"><%= repo.name%></a><br>
            <% end %>
          </details></div>

      <div class="col m2 12">
        <details close>
          <summary>Stars <%= @github_user.starred_repos(current_user.oauth_token).count %></summary>
            <% @github_user.starred_repos(current_user.oauth_token).each do |repo|  %>
              <a href="https://github.com/<%=@github_user.login%>/<%=repo.name%>"><%= repo.name%></a><br>
              <% end %>
            </details></div>

      <div class="col m2 12">
        <details close>
          <summary>Followers <%= @github_user.followers(current_user.oauth_token).count %></summary>
            <% @github_user.followers(current_user.oauth_token).each do |follower| %>
            <a href="https://github.com/<%=follower.login%>"><%= follower.login %></a><br>
            <% end %>
        </details></div>

       <div class="col m2 12">
         <details close>
           <summary>Following <%= @github_user.following(current_user.oauth_token).count %></summary>
            <% @github_user.following(current_user.oauth_token).each do |followed| %>
            <a href="https://github.com/<%=followed.login%>"><%= followed.login %></a><br>
            <% end %>
        </details></div>

  <br><hr><br>
      </div>


        <div class="col m9 s12">

          <div class="col m5 12"><h6><strong>Recent Activity</h6></div><br><br>

                                <% @github_user.events(current_user.oauth_token).first(6).each do |event| %>
            <div class="col s12 m5">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <a href="https://github.com/<%=event.repo[:name]%>"><%= event.repo[:name]%></a>
                </div>
                <div class="card-action">
                  <%= event.type%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= event.date %>
                </div>
              </div>
            </div>
          </div>

          <% end %>
    </div>
  </div>

  <div class="row">
     <div class="col s6 offset-s3"><img width="650" src="https://i.stack.imgur.com/ElvLA.png"></div>
   </div>
